<div class="field">
<h1>User Editing</h1>

<%= form_for(@user) do |f| %>
<% if @user.errors.any? %>
  <h2><%= @user.errors.count %>error prohibited this obj from being saved:</h2>
  <ul><% @user.errors.full_messages.each do |messages| %></ul>
    <li><%= messages %></li>
  <% end %>
  <% end %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: "name" %>
    </div>
  <div class="field">
    <label for="Image">Image</label>
    <%= f.attachment_field :profile_image  %>
  </div>

  <div class="field">
    <%#= f.label :history %>
    <%#= f.text_field :history, class: "history" %>
    <%= f.label :introduction %>
    <%= f.text_area :introduction, class: "introduction" %>
  </div>



  <div class="actions">
    <%= f.submit "Update User" %>
  </div>
<% end %>