<div class="editbody">
<h1>Editing Music</h1>

<%= form_for(@music) do |f| %>

<% if @music.errors.any? %>
  <h2><%= @music.errors.count %>error prohibited this obj from being saved:</h2>
  <ul><% @music.errors.full_messages.each do |messages| %></ul>
    <li><%= messages %></li>
  <% end %>
<% end %>
<div class="field">
<%= attachment_image_tag @music, :post_image,  fallback: "no_image.jpg", size: "60x60" %>
  <h4>Artist</h4>
  <div class="field">
    <%= f.text_field :artist, :size => "50*50" %>
  <h4>Title</h4>
  <div class="field">
    <%= f.text_field :title, :size => "50*50" %>
  </div>
  <div class="field">
    <h4>Point</h4>
    <%= f.text_field :impression, :size => "50*50" %>
  <%#= f.text_area :impression %>
  <div class="field">
    <h4>genre</h4>
      <%= f.collection_select :genre_id, Genre.all,:id,:category %>
    <h4>location</h4><%= f.collection_select :location_id, Location.all,:id,:seen %>
  </div>

  <div class="actions row">
   <%= f.submit 'Update Music',class: "btn btn-primary"%>
  </div>
  <% end %>

<%= link_to "Show", music_path %>
<%= link_to "Back", musics_path %>

</div>
</div>
