<div class="container">
  <div class="row">
    <% if @music.errors.any? %>
      <%= @music.errors.count %>件のerrorが発生しました
      <% @music.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    <% end %>
   </div>
  <div class="col-xs-3">
    </div>
      <h2>キーワード検索</h2>
      <%= search_form_for @q do |f| %>
      <div class="field">
        <h3>genre</h3>
        <%= f.collection_select :genre_id, Genre.all,:id,:category %>
        <%= f.submit "検索" %>
      <%= link_to "+NEW POST", new_music_path, class: "btn btn-primary btn-circle pull-right" %>
      <h1>投稿一覧</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>投稿者</th>
            <th>Image</th>
            <th>アーティスト</th>
            <th></th>
            <th>タイトル</th>
            <th></th>
            <th>ジャンル</th>
            <th>おすすめシーン</th>
            <th>一言</th>
            <th>イイね</th>
            <th>コメント</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @musics.each do |music| %>
          <tr>
            <td><%= @user.name %>
            <td><%= attachment_image_tag @music, :post_image, fallback: "no_image.jpg", size: "60x60" %></td>
          <td><%= music.artist %></td>
          <%= link_to music_path(music.id) do %>
              <td>
                <% end %>
              </td>
              <td>
                <%= link_to music.title, music_path(music.id) %>
              </td>
              <td></td>
              <td><%= music.genre.category %></td>
              <td><%= music.location.seen %></td>
              <td><%= music.impression %>
              <!--以下いいね機能の実装-->
              <% if music.favorited_by?(current_user) %>
              <td>
                <%= link_to music_favorites_path(music), method: :delete, remote: true do %>
              <td>
                 <%= render 'favorites/favorite_button', music: music %>
              </td>
              <% end %>
            </td>
            <% else %>
            <td>
                <%= link_to music_favorites_path(music), method: :post do %>
                <i class="fa fa-heart-o" aria-hidden="true"></i>
                <%= music.favorites.count %>
                <% end %>
            </td>
            <% end %>

            <td>
              <!--以下コメント機能の実装-->
            <%= link_to "#{music.music_comments.count} comment", music_path(music.id) %>
            </td>
            </tr>
            <%#= paginate @musics %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%#= form_tag(musics_path,:method => 'get' ) do %>
        <%#= text_field_tag :search %>
        <%#= submit_tag 'Search', :name => nil %></strong></span>
        <%#= search_form_for @q do |f| %>
        <%#= f.label :genre, "ジャンル" %>
        <%#= f.search_field :genre_category_cont %>
        <%#= f.submit "検索" %>
        <%#= f.label :location, "おすすめシーン" %>
        <%#= f.search_field :location_seen_cont %>
        <%#= f.submit "検索" %>