<div class="newbody">
<div class="body-height">
<div class="container">
  <h1>新規投稿</h1>
    <%= form_for @music, :url => {controller:  :musics, action: :create} do |f| %>
    <div class="form-group">
  <%= f.attachment_field :post_image %>
    </div>
      <h3>アーティスト</h3>
    <div class="field">
        <%= f.text_field :artist %>
    </div>
      <h3>タイトル</h3>
      <div class="field">
        <%= f.text_field :title %>
    </div>
      <div class="field">
      <h3>一言</h3>
      <div class="field">
        <%= f.text_area :impression %>
    </div>
      <h3>ジャンル</h3>
      <div class="field">
        <%= f.collection_select :genre_id, Genre.all,:id,:category %>
      </div>
      <h3>おすすめのシーン</h3>
      <div class="field">
      <%= f.collection_select :location_id, Location.all,:id,:seen %>
    </div>

      <%= f.submit '新規登録', class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
</div>
</div>