<!DOCTYPE html>
<html>
  <head>
    <title>WithMusic</title>
    <script src="https://kit.fontawesome.com/82d88901b5.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
<header class="navbar navbar-inverse">
  <div class="container">

<nav class="nav navbar-nav navbar-left">
    <nav class="text-muted"><span><strong><%= link_to "with music" , musics_path %></strong></span></nav>
</nav>


<nav>
  <ul class="nav navbar-nav navbar-right">
    <% if user_signed_in? %>
    <li><%= link_to user_path(current_user.id) do %>
      <p><i class="fas fa-home"></i>Home<p>
      <% end %>
      </li>
      <li><%= link_to users_path  do %>
      <p><i class="fas fa-user"></i>マイページ</p>
      <% end %>
      </li>


      <li><%= link_to musics_path do %>
      <p><i class="fas fa-music"></i>投稿</p>
      <% end %>
      </li>

      <li><%= link_to destroy_user_session_path, method: :delete do %>
      <p><i class="fas fa-sign-out-alt"></i>ログアウト</p>
      <% end %>
      </li>

      <% else %>

      <li><%= link_to root_path do %>
      <p><i class="fas fa-home"></i>Home</p>
      <% end %>
      </li>

      <li><%= link_to home_about_path do %>
      <p><i class="fas fa-link"></i>About</p>
      <% end %>
      </li>

      <li><%= link_to new_user_registration_path do %>
      <p><i class="fas fa-user-plus"></i>sign up</p>
      <% end %>
      </li>

      <li><%= link_to new_user_session_path do %>
      <p><i class="fas fa-sign-in-alt"></i>login</p>
      <% end %>
    </li>
    <%# end %>
    <% end %>
  </ul>
</nav>
</div>
</header>
<%= yield %>
<div class="footer">
  <div class='container'>
      <div class='row'>
        <div class='col-xs-3 col-xs-offset-9'>
          <p>Click here<i class="fas fa-arrow-right fa-2x"></i><a href="https://www.apple.com/jp/apple-music/">
          <i class="fab fa-apple fa-3x"></i>
          <i class="fab fa-amazon fa-3x"></i>
          <i class="fab fa-spotify fa-3x"></i>
        </a>
        </p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
